* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
