<footer class="footer">
  <div class="container">
    <div class="footer-div-one">
      <button class="first-fot-button">Our Locations</button>

      <button class="doble-fot-button">Franchise</button>
    </div>
    <div class="footrt-div-two">
      <p class="footer-first-text">homemade ice cream made</p>
      <h2 class="footer-doble-text">with passion</h2>

      <img class="footer-images" src="" alt="" />
      <img class="footer-images" src="" alt="" />
      <img class="footer-images" src="" alt="" />

      <a class="footer-return" href="+61 (0) 383 766 284">
        Feel free to contact
        <span class="footer-span"> +61 (0) 383 766 284</span></a
      >

      <div></div>

      <p>© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
