<header class="header">
  <div class="container">
    <div class="mobile">
    <a href="" class="logo">12121</a>
<div class="button-mobbutton">
<button type="button" class="burger" data-menu-open>///</button>
<ul class="header-list">
    <li class="header-li">
      <a href="" class="header-link">Home</a>
      <a href="" class="header-link">About us</a>
      <a href="" class="header-link">How it’s made?</a>
      <a href="" class="header-link">Our products</a>
      <a href="" class="header-link">Contact</a>
    </li>
  </ul>
  <button type="button" class="header-button">Buy now ></button>
</div>
</div>
<div class="burger-menu is-hidden" data-menu>
<div>
  <button type="button" class="burger-close" data-menu-close>x</button>
  <button type="button" class="mob-button">Buy now ></button>
  <ul class="mob-list">
    <li><a href="">Home</a></li>
    <li><a href="">About us</a></li>
    <li><a href="">How it’s made?</a></li>
    <li><a href="">Our products</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</div>
</div>
    <div class="tablet-desktop">
      
    
  </div>
</header>
