<header class="header">
    <div class="container">
        <a href="" class="logo">++</a>
        <ul class="header-list">
            <li class="header-li">
                <a href="" class="header-link">Home</a>
                <a href="" class="header-link">About us</a>
                <a href="" class="header-link">How it’s made?</a>
                <a href="" class="header-link">Our products</a>
                <a href="" class="header-link">Contact</a>
            </li>
        </ul>
        <button type="button" class="header-button">Buy now ></button>
    </div>
</header>