<section class="reviews">
    <div class="container">
        <div class="reviews__image__wrap"><img src="../images/" alt="photo_gallery" class="reviews__image"></div>
        <div class="reviews__text__wrap">
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <div class="reviews__description__wrap">
                <p class="reviews__description__text">Emily, Los Angeles</p>
                <div class="reviews__description__indicators__wrap">
                    <div class="reviews__description__indicator reviews__description__indicator1"></div>
                    <div class="reviews__description__indicator reviews__description__indicator2"></div>
                    <div class="reviews__description__indicator reviews__description__indicator3"></div>
                </div>
            </div>
        </div>
    </div>
</section>