.reviews {
}

.reviews__image__wrap {
    margin: 80px auto 29px;
    border-radius: 50%;
}

.reviews__image {
}

.reviews__text__wrap {
    background: #FAFAFA;
}

.reviews__text {
}

.reviews__description__wrap {
}

.reviews__description__text {
}

.reviews__description__indicators__wrap {
}

.reviews__description__indicator {
}

.reviews__description__indicator1 {
}

.reviews__description__indicator2 {
}

.reviews__description__indicator3 {
}